.button {
	border: none;
	background-color: transparent;
}

.button--new-message {
	color: #5965DB;
	background-color: #EBEDFB;
	font-size: 11px;
	font-weight: bold;
	padding: 7px 6px;
}

.button--send {
	color: rgb(92, 92, 92);
	background-color: rgb(248, 248, 248);
	padding: 23px 13px;
}

.button--auth {
	display: block;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	border: 2px solid transparent;
	background-color: #5965DB;
	color: #FFF;
}

.button-close {
	cursor: pointer;
	right: 30px;
	position: fixed;
	font-size: 18px;
	
}

.button-open {
	cursor: pointer;
	position: fixed;
	right: 30px;
}

.button--hidden {
	transform: scale(0);
}