.button {
	border: none;
	background-color: transparent;
}

.button--new-message {
	color: #5965DB;
	background-color: #EBEDFB;
	font-size: 11px;
	font-weight: bold;
	padding: 7px 6px;
}

.button--send {
	color: rgb(92, 92, 92);
	background-color: rgb(248, 248, 248);
	padding: 23px 13px;
}

