.dialogues {
	height: 100vh;
	width: 341px;
	overflow: auto;
	background-color: #fff;
	display: flex;
	flex-direction: column;
}

.dialogues__header {
	width: 100%;
	height: 45px;
	background-color: #fff;
	padding: 15px 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #eaedf3;
	border-right: none;
}

.dialogues__header-title {
	font-size: 14px;
}
